<%= simple_form_for(@keyword) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :keyword %>
    <%= f.input :list_name %>
    <%= f.input :tag %>
    <%= f.input :campaign %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
